/* 
//////////////////CSS TRIANGLE //////////////
Triangles: Up, Down, Left, Right

#up-triangle {
    width: 0;
    height: 0;
    border-bottom: 140px solid #103252;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}

#down-triangle {
    width: 0;
    height: 0;
    border-top: 140px solid #103252;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}

#left-triangle {
    width: 0;
    height: 0;
    border-right: 140px solid #103252;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
}

#right-triangle {
    width: 0;
    height: 0;
    border-left: 140px solid #103252;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
}
0
 
#up-triangle {
    width: 0;
    height: 0;
    border-bottom: 140px solid #103252;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}
 
#down-triangle {
    width: 0;
    height: 0;
    border-top: 140px solid #103252;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}
 
#left-triangle {
    width: 0;
    height: 0;
    border-right: 140px solid #103252;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
}
 
#right-triangle {
    width: 0;
    height: 0;
    border-left: 140px solid #103252;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
}
Traingles: Top Right, Top Left, Bottom Right, Bottom Left

#triangle-top-right {
	width: 0;
	height: 0;
	border-top: 140px solid #103252;
	border-left: 140px solid transparent;
}

#triangle-top-left {
	width: 0;
	height: 0;
	border-top: 140px solid #103252;
	border-right: 140px solid transparent;
}
	
#triangle-bottom-right {
	width: 0;
	height: 0;
	border-bottom: 140px solid #103252;
	border-left: 140px solid transparent;
}

#triangle-bottom-left {
	width: 0;
	height: 0;
	border-bottom: 140px solid #103252;
	border-right: 140px solid transparent;
}
0

#triangle-top-right {
	width: 0;
	height: 0;
	border-top: 140px solid #103252;
	border-left: 140px solid transparent;
}
 
#triangle-top-left {
	width: 0;
	height: 0;
	border-top: 140px solid #103252;
	border-right: 140px solid transparent;
}
	
#triangle-bottom-right {
	width: 0;
	height: 0;
	border-bottom: 140px solid #103252;
	border-left: 140px solid transparent;
}
 
#triangle-bottom-left {
	width: 0;
	height: 0;
	border-bottom: 140px solid #103252;
	border-right: 140px solid transparent;
}*/
body {
	display: flex;
	justify-content: center;
}

.left-ear {
	width: 120px;
	height: 120px;
	background-color: white;
	border: 35px solid black;
	border-radius: 50%;
	position: absolute;
	margin-right: 250px;
	margin-top: 30px;
	transform: rotate(-30deg);
	/*box-shadow: inset -1em 0.5em #5A5A5B;*/
}

.right-ear {
	width:120px;
	height: 120px;
	background-color: white;
	border: 35px solid black;
	border-radius: 50%;
	position: absolute;
	margin-left: 250px;
	margin-top: 30px;
	transform: rotate(30deg);
	/*box-shadow: inset -1em 0.5em #5a5a5b;*/
}

.face {
	position: relative;
	width: 350px;
	height: 350px;
	background-color: white;
	border-radius: 100%;
	margin-top: 70px;
	border: 2px solid black;
	/*box-shadow: inset -1em 1em #eeeeee;*/
	overflow: hidden;
}

.left-eye {
    /*border: 6px solid black;*/
	background-color: black;
	width: 20%;
	height: 40%;
	border-radius: 100%;
	transform: rotate(30deg);
	position: relative;
	top: 10%;
	left: 20%;
}
.left-eyeball {
    background-color: white;
	width: 40%;
	height: 20%;
	border-radius: 100%;
	position: absolute;
	top: 50%;
	/*left: 30px;*/
	right: 20%;
	animation: move 8s ease-out infinite;
}

.right-eye {
   /*border: 6px solid black;*/
	background-color: black;
	width: 20%;
	height: 40%;
	border-radius: 100%;
	transform: rotate(-30deg);
	position: relative;
	top: -30%;
	left: 60%;
	/*left: 200px;*/
	/*z-index: 1;*/
}

.right-eyeball {
	background-color: red;
	width: 40%;
	height: 20%;
	border-radius: 100%;
	position: absolute;
	top: 50%;
	left: 20%;
	animation: move 8s ease-out infinite;
}



.nose {
	/*background-color: black;*/
	/*width: 60px;
	height: 30px;*/
/*	border-radius: 100%;
    border-right-width: 100px;
    border-left-width: 100px;*/
	position: absolute;
	top: 50%;
right: 42%;
	width: 0;
	height: 0;
	border: 30px solid transparent;
/*	border-top: 0;*/
	/*border-bottom: 30px solid black;*/
	border-top: 30px solid BLACK;
    border-left: 20% solid transparent;
    border-right: 20% solid transparent;
}

.mouth {
	position: absolute;
    background-color: transparent;
    border-bottom: 20px solid black;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    bottom: 126%;
    left:10%;
	top: 10%;
	/*border: 7px solid;
	border-color: #000 transparent transparent transparent;
	border-radius: 200%/200px 200px 0 0;
	width: 150px;
	height: 100px;
	position: absolute;
	top: 250px;
	left: 85px;
	transform: rotate(180deg);*/
}


  
  
  
  @keyframes move {
	0% {
	  transform: none;
	}
	20% {
	  transform: translateX(-10px) translateY(-40px) scale(0.95);
	}
	25%, 44% {
	  transform: none;
	}
	50%, 60% {
	  transform: translateX(10px) translateY(-30px) scale(0.95);
	}
	66%, 100% {
	  transform:  none;
	}
}