
.pupil { 
	background: #000;
	width: 50%;
	height: 50%;
	position: relative;
	left: 25%;
	transform-origin: bottom;
}

/*////*/
body {
	display: flex;
	justify-content: center;
}

.left-ear {
	width: 120px;
	height: 120px;
	background-color: white;
	border: 35px solid black;
	border-radius: 50%;
	position: absolute;
	margin-right: 250px;
	margin-top: 30px;
	transform: rotate(-30deg);
	
}

.right-ear {
	width:120px;
	height: 120px;
	background-color: white;
	border: 35px solid black;
	border-radius: 50%;
	position: absolute;
	margin-left: 250px;
	margin-top: 30px;
	transform: rotate(30deg);
	
}

.face {
	position: relative;
	width: 350px;
	height: 350px;
	background-color: white;
	border-radius: 100%;
	margin-top: 70px;
	border: 2px solid black;

	overflow: hidden;
}

.left-eye {

	background-color: black;
	width: 20%;
	height: 40%;
	border-radius: 100%;
	transform: rotate(30deg);
	position: relative;
	top: 10%;
	left: 20%;
}
.pupil {
    background-color: white;
	width: 40%;
	height: 20%;
	border-radius: 100%;
	position: absolute;
	top: 50%;

	right: 20%;
	animation: move 8s ease-out infinite;
}

.right-eye {
  
	background-color: black;
	width: 20%;
	height: 40%;
	border-radius: 100%;
	transform: rotate(-30deg);
	position: relative;
	top: -30%;
	left: 60%;

}

.right-eyeball {
	background-color: white;
	width: 40%;
	height: 20%;
	border-radius: 100%;
	position: absolute;
	top: 50%;
	left: 20%;
	animation: move 8s ease-out infinite;
}



.nose {

	position: absolute;
	top: 50%;
right: 42%;
	width: 0;
	height: 0;
	border: 30px solid transparent;

	border-top: 30px solid BLACK;
    border-left: 20% solid transparent;
    border-right: 20% solid transparent;
}

.mouth {
	position: absolute;
    background-color: transparent;
    border-bottom: 20px solid black;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    bottom: 126%;
    left:10%;
	top: 10%;

}